[submodule "lib/bgfx"]
	path = lib/bgfx
	url = git@github.com:cortex-engine/bgfx.git
[submodule "lib/bimg"]
	path = lib/bimg
	url = git@github.com:cortex-engine/bimg.git
[submodule "lib/bx"]
	path = lib/bx
	url = git@github.com:cortex-engine/bx.git
