[submodule "lib/bgfx"]
	path = lib/bgfx
	url = https://github.com/cortex-engine/bgfx.git
[submodule "lib/bimg"]
	path = lib/bimg
	url = https://github.com/cortex-engine/bimg.git
[submodule "lib/bx"]
	path = lib/bx
	url = https://github.com/cortex-engine/bx.git
